/* 共通スタイルを最初に書く */

body {
  color: #082B48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
  overflow: hidden;
  word-break: break-all;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #082B48;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

/* セクションごとのスタイルを書いていく */

/*================================================================
headerのcss
================================================================*/

header {
  padding: 20px 0;
}

.header-left {
  float: left;
}

.header-title {
  font-weight: bold;
  font-size: 24px;
}

.header-right {
  float: right;
}

.header-nav {
  overflow: hidden;
}

.header-nav-item {
  margin-left: 50px;
  float: left;
}

.header-nav-item a {
  font-size: 15px;
  line-height: 36px;
  font-weight: 600;
}

/*================================================================
topのcss
================================================================*/

.top {
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
  text-align: center;
  padding: 80px 0;
}

.top-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.top-subtitle {
  font-size: 18px;
}

/*================================================================
section共通のcss
================================================================*/

.section {
  padding: 80px 0;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

/*================================================================
aboutのcss
================================================================*/

.about img {
  width: 48%;
  float: left;
}

.about p {
  width: 48%;
  float: right;
}

/*================================================================
courseのcss
================================================================*/

.course {
  background-color: #e3fcf4;
}

.course-wrap {
  display: flex;
  justify-content: space-around;
}

.course-item {
  width: 30%;
}

/*================================================================
お問い合わせのcss
================================================================*/

.contact p {
  text-align: center;
  margin-bottom: 20px;
}

.contact form {
  text-align: center;
}

input[type="email"], input[type="text"] {
  display: inline-block;
  margin: auto;
  width: 600px;
  font-size: 18px;
  border: 3px solid #D8D8D8;
  padding: 15px;
  border-radius: 999px;
  margin-bottom: 20px;
}

.btn {
  background-color: #082B48;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 20px 60px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn-register {
  display: block;
  margin: auto;
  background-color: #ec6d64;
}

/*================================================================
footerのcss
================================================================*/

footer {
  background-color: #082B48;
  color: #fff;
  padding: 20px 0;
}

.copyright {
  font-size: 12px;
  float: right;
}

/*================================================================
スマホ用のcss(横幅767px以下の時のcss)
================================================================*/

@media only screen and (max-width: 767px) {
  /*================================================================
  headerのcss
  ================================================================*/
  .header-left {
    float: none;
  }
  .header-title {
    text-align: center;
  }
  .header-right {
    float: none;
  }
  .header-nav {
    display: flex;
    justify-content: space-around;
  }
  .header-nav-item {
    margin-left: 0;
    float: none;
  }
  /*================================================================
  topのcss
  ================================================================*/
  .top {
    padding: 120px 0;
  }
  .top-title {
    font-size: 32px;
  }
  .top-subtitle {
    font-size: 14px;
  }
  /*================================================================
  section共通のcss
  ================================================================*/
  .section {
    padding: 60px 0;
  }
  .section-title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  /*================================================================
    .aboutのcss
  ================================================================*/
  .about img {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .about p {
    width: 100%;
    float: none;
  }
  /*================================================================
  .courseのcss
  ================================================================*/
  .course-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .course-item:last-child {
    margin-bottom: 0;
  }
  /*================================================================
    .contactのcss
  ================================================================*/
  input[type="text"], input[type="email"] {
    width: 100%;
  }
  /*================================================================
    footerのcss
  ================================================================*/
  .copyright {
    font-size: 10px;
    text-align: center;
  }
}